.card {
  max-width: 300px;
  margin: 2rem;
}
.header-image {
  background-image: url("/assets/profile.svg");
  background-size: cover;
}
.container {
  display: flex;
  order: 5;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 3;
  justify-content: center;
  align-self: center;
  align-items: center;
  align-content: center;
}